body {
    font-family: Arial, sans-serif;
    margin: 0;  /* Rimuoviamo i margini predefiniti */
    padding: 0;  /* Rimuoviamo il padding predefinito */
    background-color: #d9b99b;
    
    /* Flexbox per centrare gli elementi */
    display: flex;
    justify-content: center;  /* Centra orizzontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Impostiamo l'altezza della pagina */
    flex-direction: column;   /* Disposizione verticale degli elementi */
}

header {
    text-align: center;
    margin-bottom: 20px;
    background: #dda15e;
    padding: 10px;
}
